<%- layout('/layout/boilerplate') %>
<div class="container-fluid d-flex justify-content-center gap-3 m-3">
    <div class="d-flex">
        <a href="/seeker/getJobs" class="badge bg-dark fs-3">Jobs</a>
    </div>
    <div class="d-flex">
        <a href="/seeker/myApplications" class="badge bg-dark fs-3">My applications</a>
    </div>
</div>