.profile-container {
    background-color: white;
    display: block;
    margin: 30px auto;
    max-width: 600px;
    border: 2px solid whitesmoke;
    padding: 1em;
    border-radius: 1em;
}

.profile-pic {
    border-radius: 50%;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: 10px auto;
    object-fit: cover;
}
.connect-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.connect-icons a{
    flex-basis: 20%;
    font-size: xx-large;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
}