<%- layout('/layout/boilerplate') %>
    <h1>Homepage</h1>
    <script>
        sessionStorage.clear();
        localStorage.removeItem('filter-value');
        localStorage.removeItem('applied-status');
        localStorage.removeItem('searchJob');
    </script>